
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Source+Code+Pro:wght@400;600&display=swap');

.app {
  padding: 20px;
}

body {
  margin: 0;
}






.hero-button:hover{
    background:#e6d279;
}

.logo {
    font-family: "Marcellus", serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}


nav ul {
    display: flex;
    gap: 34px;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: rgb(247, 234, 116);
    text-decoration: none;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
}

nav a:hover {
    color: #6495fe;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 40px;
    padding-bottom: 80px;
}

button {
    margin-top: 30px;

    padding: 18px 36px;

    border: none;
    border-radius: 2000px;

    background: #d5d0e500;
    color: rgba(0, 0, 0, 0);

    font-family: "Source Code Pro", monospace;
    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #b6b2c2;
    transform: translateY(-3px);
}

.hero p{
    max-width:700px;

    margin-top:20px;

    line-height:1.8;

    color:#a8a8a8;

    font-size:20px;
}

body{
    background:
    radial-gradient(circle at bottom,#1e1e38,#7b7b9e 45%,#111116 100%);
}



nav{
    display:flex;
    align-items:center;
    justify-content:space-between;

    max-width:1000px;
    margin:0 auto;

    padding:12px 60px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 60px;
}




button:hover{
    background:#42486a;
}
button{
    box-shadow:
        0 0 25px rgba(196, 187, 234, 0.15);
}

body{
    min-height:100vh;
}

.hero-image{
    width:500px;
    height:auto;
    margin-bottom:20px;
}

.hero{
    padding-top: 20px;
    padding-bottom: 60px;
}
.hero-image{
    width: 450px;
}

.hero-image{
    transition: transform .1s ease;
}


.hero-button{
  display: inline-block;
  text-decoration: none;
  text-align: center;

  margin-top: 35px;
  padding: 14px 28px;

  font-family: "Source Code Pro", monospace;
  font-size: 16px;

  border: none;
  border-radius: 8px;

  background: #222;
  color: rgb(144, 184, 228);

  cursor: pointer;
  transition: 0.3s;

  box-shadow: 0 0 25px rgba(194, 186, 224, 0.25);
}

.hero-button:hover{
  background: #e6d279;
  color: #222;
  transform: translateY(-3px);
}


.instrument-image {
  width: 1000px;
  max-width: 1000%;
  height: auto;
  margin-top: 10px;
}

.instrument{
    text-align: center;
    padding: 40px 20px 100px;
}

.instrument-title {
  font-family: "Marcellus", serif;
  font-size: 64px;
  margin-bottom: 25px;
  color: #f3f3f3 !important;
}

.instrument-description {
  max-width: 700px;
  margin: 0 auto;

  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  line-height: 1.8;

  color: #a8a8a8 !important;
}

.instrument-image{
    width:430px;
    transition:0.35s ease;
    filter: drop-shadow(0 20px 35px rgba(85, 82, 82, 0.127));
}

.instrument-image:hover{
    transform:translateY(-8px) scale(1.03);
}





.info-card{
    width: 600px;
    margin: 45px auto;

    padding: 28px 40px;

    background: rgba(255, 255, 255, 0.097);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.092);

    border-radius: 400px;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.25);

    transition: .35s ease;
}

.info-card h2{
    font-family: "Marcellus", serif;

    font-size: 34px;
    font-weight: 400;

    color: #ffffff;
    margin-bottom: 18px;

    letter-spacing: .5px;
}
.info-card p{

    font-family: "Ariel", monospace;

    font-size: 15px;

    color: #b9bbc5;

    line-height: 1.4;
    max-width: 470px;

    margin: 0 auto 20px;
}
.info-card ul{

    width: fit-content;

    margin: auto;

    text-align: left;

    color: #c4bcbc;

    line-height: 1.3;

    font-family: "Source Code Pro", monospace;

    font-size: 15px;
}
.info-card:hover{

    transform: translateY(-5px);

    border-color: rgba(255, 255, 255, 0);

    box-shadow:
        0 25px 80px rgba(0, 0, 0, 0.241);
}
.info-card{
    animation: fadeUp .45s ease;
}
@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:10;
        transform:translateY(0);
    }

}

.home-page .title {
  color: #f3f4f6;
}

.home-page .subtitle {
  color: #a8a8a8;
}

.hero.home-page .title {
  color: #f3f4f6 !important;
}

.hero.home-page .subtitle {
  color: #a8a8a8 !important;
}

.home-title {
  font-family: "Marcellus", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
  color: #f3f3f3 !important;
  text-shadow: 0 0 20px rgba(229,208,134,.08);
}

.home-subtitle {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  line-height: 1.8;
  max-width: 700px;
  margin: 20px auto;
  color: #a8a8a8 !important;
}

.title {
  font-family: "Marcellus", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;

  color: #f3f3f3 !important;
}
.subtitle {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  line-height: 1.8;
  max-width: 700px;
  margin: 20px auto;

  color: var(--text-h);
}

.team-member h3 {
    color: white;
    font-family: "Marcellus", serif;
}

.team-member p {
    color: #b9bbc5;
}

.visualizer-title {
  font-family: 'Marcellus', serif;
}

.visualizer-subtitle {
  font-family: 'Source Code Pro', monospace;
  color: white;
}
.page-title {
  font-family: 'Marcellus', serif;
}

.backing-track {
  margin-top: 25px;
  text-align: center;
}

.music-volume {
  margin-top: 10px;
}


.visualizer-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  background:
    radial-gradient(
      circle at 50% 70%,
      rgba(90, 70, 180, 0.3),
      rgba(20, 20, 40, 0.95) 55%,
      #111116 100%
    );

  transition:
    background 0.4s ease,
    filter 0.3s ease;
}
.note-c {
  --note-color: 0, 255, 255;
}

.note-d {
  --note-color: 80, 150, 255;
}

.note-e {
  --note-color: 145, 100, 255;
}

.note-f {
  --note-color: 220, 80, 255;
}

.note-g {
  --note-color: 255, 80, 360;
}

.note-a {
  --note-color: 255, 120, 100;
}

.note-b {
  --note-color: 255, 210, 90;
}

.visualizer-page[class*="note-"] {
  background:
    radial-gradient(
      circle at 50% 65%,
      rgba(var(--note-color), 0.55),
      rgba(var(--note-color), 0.18) 35%,
      rgba(20, 20, 40, 0.95) 70%,
      #111116 100%
    );
}

.visualizer-page::after {
  content: "";
  position: absolute;
  inset: -30%;

  pointer-events: none;

  background:
    radial-gradient(
      circle at 30% 40%,
      rgba(var(--note-color, 100, 100, 255), 0.25),
      transparent 35%
    ),
    radial-gradient(
      circle at 70% 60%,
      rgba(var(--note-color, 100, 100, 255), 0.18),
      transparent 40%
    );

  filter: blur(70px);

  opacity: 0.35;

  animation: backgroundDrift 7s ease-in-out infinite alternate;
}

@keyframes backgroundDrift {
  0% {
    transform: translate(-5%, -3%) scale(1);
  }

  50% {
    transform: translate(7%, 5%) scale(1.15);
  }

  100% {
    transform: translate(-2%, 8%) scale(1.05);
  }
}
.visualizer-pulse {
  animation: backgroundHit 0.35s ease-out;
}

@keyframes backgroundHit {
  0% {
    filter:
      brightness(1)
      saturate(1);
  }

  20% {
    filter:
      brightness(1.8)
      saturate(2.2);
  }

  45% {
    filter:
      brightness(1.35)
      saturate(1.7);
  }

  100% {
    filter:
      brightness(1)
      saturate(1);
  }
}
.visualizer-stage {
  position: relative;

  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.stage-pulse {
  transform: scale(1.035);

  filter:
    brightness(1.6)
    saturate(2)
    drop-shadow(
      0 0 18px rgba(var(--note-color), 0.9)
    )
    drop-shadow(
      0 0 45px rgba(var(--note-color), 0.65)
    )
    drop-shadow(
      0 0 80px rgba(var(--note-color), 0.35)
    );
}

.real-instrument-section {
  margin-top: 70px;
  text-align: center;
}

.real-instrument-image {
  width: 500px;
  max-width: 90%;
  height: auto;

  border-radius: 14px;

  box-shadow:
    0 0 20px rgba(170, 120, 255, 0.35),
    0 0 45px rgba(120, 100, 255, 0.2);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.real-instrument-image:hover {
  transform: scale(1.03);

  box-shadow:
    0 0 25px rgba(255, 230, 100, 0.65),
    0 0 55px rgba(170, 120, 255, 0.5);
}

.real-instrument-description {
  margin-top: 20px;

  font-family: "Source Code Pro", monospace;
  font-size: 18px;

  color: #e8e8e8;
}

.hero-image {
  animation:
    bearEntrance 0.8s ease-out,
    bearGlowPulse 0.5s ease-in-out 0.8s infinite alternate;
  transform-origin: center;
}

@keyframes bearEntrance {
  0% {
    transform: scale(0.8);
    opacity: 0;

    filter:
      brightness(0.8)
      drop-shadow(0 0 0 rgba(190, 220, 255, 0));
  }

  50% {
    transform: scale(1.12);
    opacity: 1;

    filter:
      brightness(1.8)
      drop-shadow(0 0 15px rgba(220, 240, 255, 1))
      drop-shadow(0 0 35px rgba(160, 200, 255, 1))
      drop-shadow(0 0 70px rgba(130, 150, 255, 0.9))
      drop-shadow(0 0 120px rgba(180, 130, 255, 0.7));
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bearGlowPulse {
  0% {
    transform: scale(1);
    filter:
      brightness(1.7)
      saturate(1.1)
      drop-shadow(0 0 10px rgba(220, 240, 255, 0.7))
      drop-shadow(0 0 25px rgba(150, 190, 255, 0.55))
      drop-shadow(0 0 45px rgba(160, 120, 255, 0.35));
  }
  100% {
    transform: scale(1.06);

    filter:
      brightness(1.2)
      saturate(1)
      drop-shadow(0 0 18px rgba(255, 255, 255, 1))
      drop-shadow(0 0 40px rgba(180, 220, 255, 1))
      drop-shadow(0 0 80px rgba(130, 170, 255, 0.95))
      drop-shadow(0 0 130px rgba(180, 120, 255, 0.75))
      drop-shadow(0 0 180px rgba(255, 220, 120, 0.4));
  }
}


.performance-video {
  width: 700px;
  max-width: 90%;
  margin-top: 30px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.song-feature {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
}

.song-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.performance-video {
  display: block;
  width: 700px;
  max-width: 85%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}